#background {
	background: #5f2c82; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #49a09d, #5f2c82); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#49a09d,
		#5f2c82
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homepage {
}

.blurred-card {
	background-color: transparent;
	backdrop-filter: blur(3px);
	padding: 16px;
}

.rounded-card {
	border-radius: 50px;
}

.neonPolice {
	font-family: 'OMORI_MAIN';

	font-size: xx-large;
	text-align: center;
	color: black;
	text-shadow:
		1px 1px 2px plum,
		0 0 1em purple,
		0 0 0.2em goldenrod;
		margin: auto;
}

@font-face {
	font-family: 'OMORI_MAIN';
	src: url('./fonts/OMORI_GAME.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'OMORI_DISTURBED';
	src: url('./fonts/OMORI_GAME2.ttf') format('truetype-variations');
}

.homeSubtitles {
	font-style: italic;
}
