.omoriPolice {
	font-family: 'OMORI_MAIN';
	font-size: xx-large;
	text-align: center;
	color: white;
	margin: auto;
}

@font-face {
	font-family: 'OMORI_MAIN';
	src: url('./fonts/OMORI_GAME.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'OMORI_DISTURBED';
	src: url('./fonts/OMORI_GAME2.ttf') format('truetype-variations');
}
